html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Manrope", sans-serif;
	font-size: 18px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

header {
	background: #ffffff;
	padding: 15px 0px;
	position: sticky;
	top: 0;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 10px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul, li {
	display: block;
	
}

.header a {
	color: #000000;
	text-decoration: none;
}

.container {
	width: 1150px;
	margin: 0 auto;
}

.container h1 {
	padding: 25px 0;
	text-align: center;
}

.container img {
	width: 100%;
}

.nav {
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	text-decoration: none;
	text-transform: uppercase;
}

.menu li {
	margin-right: 50px;
}

.profs {
	background: #DDEBF7;
}

.profs p {
	font-size: 32px;
	letter-spacing: 10px;
	padding: 50px 0;
}

.profs li {
	padding-bottom: 50px;
}

.footerinfo {
	margin: 50px 0px;
	text-align: center;
}

.tutorrec {
	display: flex;
	padding: 50px 0;
	border-bottom: 1px solid #000000; /*Временная мера пока я не научусь пользоваться тегом span*/
}

.photo img {
	width: 250px;
}

.maininfo {
	margin: 0 50px;
	margin-right: auto;
}

.maininfo h1 {
	text-align: left;
}

.maininfo li {
	display: list-item;
}

@media screen and (min-width: 1200px) {
	.container {
		width: 1150px;
	}

	.offer {
		width: 1150px;
	}

	.offer p {
		width: 1150px;
	}

	.menu {
		display: flex;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.container {
		width: 720px;
	}

	.offer {
		width: 720px;
	}

	.offer p {
		width: 720px;
	}

	.menu {
		display: none;
	}


} 

@media screen and (min-width: 320px) and (max-width: 767px)
{
	h2 {
		font-size: 18px;
	}

	ul li {
		font-size: 14px;
	}

	.btn {
		padding: 12px 25px;
	}

	.contents img {
		width: 280px;
	}

	.container {
		width: 280px;
	}

	.container p {
		font-size: 14px;
	}

	.container h1 {
		font-size: 18px;
	}

	.offer {
		width: 280px;
	}

	.offer p {
		font-size: 14px;
		width: 280px;
	}

	.menu {
		display: none;
	}

	.inputrow {
		display: flex;
		flex-direction: column;
	}

	.feedbackform {
		width: 280px;
	}

	.feedbackform p {
		font-size: 18px;
	}

	input, textarea {
		width: 240px;
		margin-right: 0;
	}

	.tutorrec {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.maininfo {
		margin: 0 0;
	}

	.maininfo h1 {
		font-size: 18px;
	}
}